body {
    margin: 20px;
}
#results {
    border: 2px solid black;
    background-color: #ffffcc;
    padding: 0.25em 1.5em;
    margin-left: 0;
}
#results li.pass {
    color: green;
}
#results li.fail {
    color: #F42727;
    text-decoration: line-through;
}
.container {
    padding: 10px;
    border: 2px solid #F42727;
}

p.result {
    border: 2px solid #FB49EF;
    padding: 10px;
}

